@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f8fff8;
}

.text-content {
    max-width: 50%;
}

.container h1 {
    color: #18a558;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.text-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    font-weight: 400;
}

.text-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #18a558;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    justify-content: center;
}

.text-buttons a:hover {
    /* background-color: #238a26; */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.images img {
    max-width: 100%;
    height: auto;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 50px;
    background-color: #ffffff;
}

.feature {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    background-color: #f8fff8;
}

.feature img {
    height: 50px;
    margin-bottom: 15px;
}

.feature h3 {
    color: #2ab930;
    margin: 10px 0;
}

.content-section {
    padding: 20px;
    font-family: 'poppins' s;
}
  
.content-row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}
  
.content-row.reverse {
    flex-direction: row-reverse;
}
  
.content-image img {
    width: 400px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.content-description {
    margin-right: 20px;
    max-width: 500px;
}
  
.content-row.reverse .content-description {
    margin-right: 0;
    margin-left: 30px;
}
  
.content-description h2 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 10px;
}
  
.content-description p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
  
.content-description ul {
    padding-left: 20px;
}
  
.content-description ul li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.section {
    padding: 20px;
    text-align: center;
}

.section h2 {
    color: #4caf50;
    margin-bottom: 20px;
}

.Academy-Partner {
    text-align: left;
}

.Academy-Partner h3 {
    font-size: 24px;
    font-weight: bold;
    color: #2bae66;
    margin-bottom: 20px;
    margin-left: 320px;
}

.Logo-Content {
    display: flex;
    align-items:  center;
    flex-direction: column;
    justify-content: center;
}
.Logo img {
    width: 200px;
    height: auto;
    margin-block:60px;
    margin-inline: 20px;
}

.Logo-2 img {
    width: 300px;
    height: auto;
    margin-inline: 15px;
}

.Fasilitas-MQ {
    display: flex;
    gap: 60px;
    margin-inline: 30px;
    padding-block: 20px;
    justify-content: center;
}

.Fasilitas-box {
    flex: 1;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.Fasilitas-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.Fasilitas-box img {
    max-width: 40px;
    margin-bottom: 10px;
}

.Fasilitas-box h3 {
    color: #2b922b;
    font-size: 16px;
    margin-bottom: 5px;
}

.Fasilitas-Content {
    padding: 20px;
    margin-inline: 30px;
    padding-block: 20px;
}

.Fasilitas-Content h2 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 20px;
}

.Fasilitas-Di-MQ {
    display: flex;
    gap: 40px;
    margin-inline: 30px;
    padding: 0px 20px;
    justify-content: center;
    justify-items: center;
}

.ICON {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 200px;
}

.ICON:hover {
    transform: translateY(-5px);
}

.ICON img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.ICON p {
    margin-top: 10px;
    margin-left: 15px;
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    
}

.biaya-pendidikan {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .biaya-pendidikan h1{
    color: #18a558;
    text-align: center;
  }
  
  /* Table nyaa */
  .table-container {
    overflow-x: auto;
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
  }
  
  thead tr {
    background-color: #18a558;
    color: #fff;
  
  }
  
  th, td {
    padding: 20px 20px;
    
  }
  
  tbody tr:nth-child(odd) {
    background-color: #d5ffe8;
  }
  
  /* Note nyaa */
  .note {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin: 10px 0;
  }
  
  /* Keterangan  */
  .keterangan {
    margin-top: 20px;
  }
  
  .keterangan h2 {
    margin-bottom: 20px;
    color: #18a558;
  }
  
  .keterangan ol {
    padding-left: 20px;
    margin: 0;
    font-size: 20px;
  }
  
  .keterangan ul {
    padding-left: 35px;
    padding-block: 28px;
    list-style: disc;
    font-size: large;
    
  }
  
  .keterangan li {
    margin-bottom: 10px;
}

.daftar {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(128, 128, 128, 0.521);
}

.daftar h2 {
    color: #2E7D32;
    margin-bottom: 20px;
    font-size: 24px;
}

.daftar p {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-daftar {
    background-color: #2E7D32;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-daftar:hover {
    /* background-color: #1B5E20; */
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    
}

footer {
    background-color: #22a04e; 
    color: white;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 480px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .text-content {
        max-width: 100%;
        text-align: center;
    }

    .text-buttons {
        width: 100%;
        align-items: center;
    }

    .features {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .content-row {
        flex-direction: column;
        text-align: center;
    }

    .content-row.reverse .content-description {
        margin: 0;
    }

    footer {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 30px;
    }

    .text-content {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .content-row {
        flex-direction: column;
        text-align: center;
    }

    .content-image img {
        width: 300px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 40px;
    }

    .features {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-row {
        justify-content: center;
    }

    .content-description {
        margin-right: 15px;
        margin-left: 15px;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-section {
        margin: 0 10px;
    }
}